  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="mx-auto order-0">
      <a class="navbar-brand" href="#"><span class="logo">TCSApp</span></a>
    </div>
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/empresa">Empresas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/fornecedor">Fornecedores</a>
        </li>
      </ul>
    </div>

  </nav>
